body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  
}

.log {
display: inline-block;
vertical-align:top;
float: right;
}
.lcontainer1{
	box-sizing: border-box;
}

.lib {
    list-style-type: none;
}
.vote1 {
	border:1px solid black;
	width: auto;
	z-index: 3;
    position: absolute; 
	float: left;
}
.image1{
	float: left;
	padding: 10px;
}
.cont1 {
	border:1px solid black;
	width: 90%; 
	margin: 0 auto;
	margin-bottom: 15px;
	
}

.header1 {
	text-align: middle;
	margin-left: auto;
    margin-right: auto;
}

.course {
	
	text-align: center;
	width: 100%;
	display: inline-block;
}

.list1{
	width: 40%;
	display: inline-block;
	list-style-type: none;
	
}
.pmidja{
	width: 100%;
	text-align: center;
}

.pmidja2{
	width: 250px;
	display: inline-block;
}

a {
  color: #00B7FF;
}

.fullWidth{
  width:100%;
}
.logoFlavorContainer{
	display: flex;
}
.mainHeader{
	display: flex;
	justify-content: space-between;
}


.middleContent{
	text-align: center;
}

.flavorText{
	font-size: 2.5em;
	font-family: 'Bilbo', cursive;

	transform:rotate(0.2deg);
    -ms-transform:rotate(0.2deg); /* IE 9 */
    -moz-transform:rotate(0.2deg); /* Firefox */
    -webkit-transform:rotate(0.2deg); /* Safari and Chrome */
    -o-transform:rotate(0.2deg); /* Opera */

}

.verticalMiddleContent{
	display:flex;
	align-items: center;
}

.middleSomething{
	justify-content: center;
}

.wholeHeader{
	background-color: LightGray;
	background: linear-gradient(0deg,#A6A6A6, #EBEBEB);
}

.accountDiv{
	padding-right:20px;
}

.loginLinksLineHeight{
	line-height:30px;
}

.loginLinks:link{
	color: #321CA3;
	text-decoration: none;
}
.loginLinks:visited{
	text-decoration: none;
	color: #321CA3;
}

.loginLinks:hover{
	text-decoration: none;
	color: #5D49C4;
}
.loginLinks:active{
	text-decoration: none;
	color: #321CA3;
}

.leftContent{
	text-align: left;
}
.rightContent{
	text-align: right;
}
.rightContent2{
	justify-content: flex-end;
}

.hotBarDiv{
	background-color: Gray;
	background: linear-gradient(#E0E0E0,#B8B6B6);

	display: flex;
	padding: 2px;
	padding-left:5px;


	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: rgba(100,100,100,1);
	font-size: 0.8em;
}

.loginContainer{
	margin: 0 auto;
	width: 600px;
	margin-top:20px;
}
.colorRed{
	color: red;
}

.headerBorder{
	border-style: solid;
	width: 100%;
	margin: 0 auto;
	border-width: 0px 0px 1px 0px;
	border-color: rgba(100,100,100,1);
}
.logoText{
	font-family: 'Bowlby One', cursive;
	font-size: 3em;
	font-stretch: ultra-condensed;
	color: rgba(10,10,10,1);
	text-decoration: none;
	text-shadow: -1px -1px 0px rgba(20,20,20,0.9), 1px 2px 4px rgba(0,0,0,0.6);
}

.logoText:link{
	color: rgba(10,10,10,1);
}

.logoText:visited{
	color: rgba(10,10,10,1);
}


.logoText:hover{
	color: rgba(10,10,10,0.45);
	text-shadow: -1px -1px 0px rgba(20,20,20,0.9), 1px 2px 4px rgba(0,0,0,0.6);
}

.logoText:active{
	color: rgba(10,10,10,1);
}



.logoAnchor:link{
	text-decoration: none;

	
}
.logoAnchor:visited{
	text-decoration: none;
	
}
.logoAnchor:hover{
	text-decoration: none;
	
}
.logoAnchor:active{
	text-decoration: none;
	
}

.horizontalAlignment{
	display:flex;
}


.centeredContent{
	text-align:center;
}

.logoDiv{
	padding-left:20px;
}
.hotbarButtons{
	padding: 1;
	padding-left: 2px;
	padding-right: 2px;

	border: none;
	background: none;
	/*color: #321CA3;*/
	color: #333333;
	margin-right:4px;
	border: 1px solid DarkGray;
	border-width: 1px 1px 1px 1px;
	border-top-color: LightGray;
	border-left-color: LightGray;
	border-radius: 4px;
	text-decoration:none;
}
.hotbarButtons:focus{ 
	outline: none; 
	text-decoration:none;
}
.hotbarButtons:hover{
	/*color: #5D49C4;*/
	text-decoration:none;
	color: #6E6E6E;
}

.hotbarLabels{
	margin-right:4px;
	display:flex;
	align-items: center;
	font-weight:bold;
}
.verticalAlignment{
	flex-direction: column;
}

.btn-info{
	color:#262626;
}

.contentContainer{
	margin: 0 auto;
	margin-top:20px;
	width: 600px;
	background-color: white;
}

.coolBorder{
	border: 1px solid black;
	border-color: rgba(100,100,100,1);
	border-width: 1px 1px 1px 1px;
	border-radius: 10px;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
	padding-bottom:30px;
	margin-bottom:20px;
	margin-top:20px;

	box-shadow: 0px 0px 20px #888888;
}

.squareBorder{
	border: 1px solid black;
	border-color: rgba(100,100,100,1);
	border-width: 1px 1px 1px 1px;
	padding-left:15px;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:15px;
	margin-top:10px;

}

.breadcrumbsContainer{
	margin-bottom:10px;
}



.identificationDiv{
	width:150px;
}

.coursenameDiv{
}

.courseButton{
	margin-bottom:5px;
	margin-top:5px;
}

.inline{
	display: inline-block;
}

.accountHotElement{
	margin-top:4px;
	margin-bottom:4px;
}

.submitcancelbuttons{
	width:100px;
	margin-right:10px;
}

.centerContent{
	text-align: center;
}

.summaryListWidth{
	width:800px;
}