body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.log {
display: inline-block;
vertical-align:top;
float: right;
}
.lcontainer1{
	box-sizing: border-box;
}

.lib {
    list-style-type: none;
}
.vote1 {
	border:1px solid black;
	width: auto;
	z-index: 3;
    position: absolute; 
	float: left;
}
.image1{
	float: left;
	padding: 10px;
}
.cont1 {
	border:1px solid black;
	width: 90%; 
	margin: 0 auto;
	margin-bottom: 15px;
	
}

.header1 {
	text-align: middle;
	margin-left: auto;
    margin-right: auto;
}

.course {
	
	text-align: center;
	width: 100%;
	display: inline-block;
}

.list1{
	width: 40%;
	display: inline-block;
	list-style-type: none;
	
}
.pmidja{
	width: 100%;
	text-align: center;
}

.pmidja2{
	width: 250px;
	display: inline-block;
}

a {
  color: #00B7FF;
}

.fullWidth{
  width:100%;
}
.logoFlavorContainer{
	display: flex;
}
.mainHeader{
	display: flex;
	justify-content: space-between;
}

.logo{
	margin:10px;
}

.middleContent{
	text-align: center;
}

.flavorText{
	margin: 0 auto;
	font-size: 2.5em;
	font-family: 'Bilbo', cursive;

}

.verticalMiddleContent{
	display:flex;
	align-items: center;
}

.wholeHeader{
	background-color: LightGray;
	background: linear-gradient(gray, LightGray);
}

.accountDiv{
	width: 300px;
	margin: 10px;
	margin-right:20px;
}

.loginButtons{
	line-height: 30px;
}
.loginLinks{
	color: #110069;
	text-decoration: none;
}

.loginLinks:hover{
	text-decoration: none;
}

.leftContent{
	text-align: left;
}
.rightContent{
	text-align: right;
}

.hotBarDiv{
	background-color: Gray;
	background: linear-gradient(LightGray,#A19F9F);

	display: flex;
	padding: 2px;
	padding-left:5px;


	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: DarkGray;
}

.loginContainer{
	margin: 0 auto;
	margin-top: 15px;
	width:450px;
}
.colorRed{
	color: red;
}

.headerBorder{
	border-style: solid;
	width: 100%;
	margin: 0 auto;
	border-width: 0px 0px 1px 0px;
	border-color: DarkGray;
}
.logoText{
	margin-left: 10px;
	margin-right: 20px;
	font-family: 'Bowlby One', cursive;
	font-size: 3em;
	font-stretch: ultra-condensed;
	color: black;
	text-decoration: none;
}

.logoAnchor:hover{
	text-decoration: none;
}

.horizontalAlignment{
	display:flex;
}