extends layout

block content
  h1= title
  p Welcome to the swag of #{title}
  div
    a(href='/signup') signup
  div
    a(href='/login') login
  div
    a(href='/root') course
  div
    a(href='/course?courseId=1') course
  div
    a(href='/comment') comment
  div
    a(href='/summary') summary
  div
    a(href='/account') account

  div.container-content
    if !schools
      div
        p No schools
    else
      each school in schools
        - var url = '/school?schoolId='
        .school-box
          a(href=url+school.schoolId) #{school.schoolName}
          
  div.container-summary-meta
    if !summaryMeta
      div
        p no summarys
    else
      each summary in summaryMeta
        // id, dateCreated, author, voteCount, teacherName, dateLastModified, attendanceDate, course

  div.container-courses
    if !courses
      div
        p no courses
    else
      each course in courses
        // courseId, courseName, courseCode, major
