doctype html
html(lang="is")
	head
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet' href='/stylesheets/style.css')
	body
		div.log
			a(href='/login', role='button') Login
			a /
			a(href='/signup', role='button') Signup
		main
			block content