doctype html
html(lang="is")
	head
		title= title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet' href='/dist/stylesheets/styles.css')
		link(rel="stylesheet" type='text/css' href='https://fonts.googleapis.com/css?family=Shadows+Into+Light')
		//<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width" initial-scale="1")
	body
		div
			p this is the header
			if	session.passport
				if session.passport.user
					p
						span Welcome, 
						span=session.passport.user.username
						span !
			//a.passport.user.username
			a(href='/login') login
			br
			a(href='/signup') signup
			br
			a(href='/logout') logout
		main
			block content
