doctype html
html(lang="is")
	head
		title= title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
		link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Shadows+Into+Light')
		//<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width" initial-scale="1")
		link(href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Bilbo" rel="stylesheet")
	body
		// The whole header
		div.fullWidth.wholeHeader
			// Upper header
			div.fullWidth.mainHeader
				// The logo
				div.logoDiv.leftContent
					a(href='/').logoAnchor.logoText CheatSheet
				// The flavor text
				div.verticalMiddleContent.centeredContent.flavorText Find or create the best way to tackle each class in school
				// Account management
				div.verticalMiddleContent.accountDiv.rightContent2
					div
						if	!session.passport||!session.passport.user
							a(href='/login').loginLinks Login
							b  | 
							a(href='/signup').loginLinks Signup
							b  | 
							a(href='/facebook-login')
								img(src='/images/login-with-facebook.png' style='width:135px;height:30px;')
						else
							a(href='/account').loginLinks=user.fullname
							b  | 
							a(href='/logout').loginLinks Logout
			// Hotbar
			if session.passport
				if session.passport.user
					div.fullWidth.hotBarDiv
						div.hotbarLabels My Courses: 
						button(onClick="location.href='/course?id=23';").hotbarButtons .Línuleg Algebra
						button(onClick="location.href='/course?id=24';").hotbarButtons .Tölvunarfræði 1
						each course in hotbarelements.courses
							button(onClick="location.href='/course?id="+course.elementid+"';").hotbarButtons=course.contentname
						div.hotbarLabels My majors: 
						button(onClick="location.href='/major?id=4';").hotbarButtons .Tölvunarfræði
						each major in hotbarelements.majors
							button(onClick="location.href='/major?id="+major.elementid+"';").hotbarButtons=major.contentname
						div.hotbarLabels My summaries:
						button(onClick="location.href='/summary?id=4';").hotbarButtons .Línuleg Algebra
						button(onClick="location.href='/summary?id=5';").hotbarButtons .Tölvunarfræði 1
						each summary in hotbarelements.summaries
							button(onClick="location.href='/summary?id="+summary.elementid+"';").hotbarButtons=summary.contentname
			// lower border for header
			div.headerBorder
		main
			block content
