extends layout

block content
	p this is the login page
	if !msg
		form(method="post" action='/login')
			fieldset.form-group  
				input(id="username" type="text" placeholder="Username" name="username" autofocus required).form-control
			fieldset.form-group
				input(id="password" type="password" name="password" placeholder="Password" required).form-control
			div
				input(type="submit").form-control
			br
		if theError
			div
				span= theError
					a(href='/login') Try again.
	else
		div
			span= msg
				b= user
				span .