doctype html
html(lang="is")
	head
		title= title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
		link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Shadows+Into+Light')
		//<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
		script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width" initial-scale="1")
		link(href="https://fonts.googleapis.com/css?family=Bowlby+One" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Bilbo" rel="stylesheet")
	body
		// The whole header
		div.fullWidth.wholeHeader
			// Upper header
			div.fullWidth.mainHeader
				// The logo
				div.horizontalAlignment
					a(href='/').logoAnchor
						//img(src='/images/logo.png' style='width:80px;height:80px;').logo
						div
							span.logoText CheatSheet
					// The flavor text
					div.verticalMiddleContent
						div.leftContent.flavorText
							//span Welcome to CheatSheet! 
							//br
							div.flavorTextItself Find or create the best way to tackle each class in school
				// Account management
				div.verticalMiddleContent
					div.accountDiv.loginButtons.rightContent
						if	session.passport
							if session.passport.user
								a(href='/account').loginLinks=session.passport.user.fullname
								b  | 
								a(href='/logout').loginLinks Logout
							else 
								a(href='/login').loginLinks Login
								b  | 
								a(href='/signup').loginLinks Signup
								b  | 
								a(href='/facebook-login')
									img(src='/images/login-with-facebook.png' style='width:135px;height:30px;')
						else 
							a(href='/login').loginLinks Login
							b  | 
							a(href='/signup').loginLinks Signup
							b  | 
							a(href='/facebook-login')
								img(src='/images/login-with-facebook.png' style='width:135px;height:30px;')
			// Hotbar
			if session.passport
				if session.passport.user
					div.fullWidth.hotBarDiv
						div My Courses: 
							//each course in results.courses
								div= course.id
						div My majors: 
							//each major in results.majors
								div= major.id
						div My summaries:
							//each summary in results.summaries
								div= summary.id
			// lower border for header
			div.headerBorder
		main
			block content
